    .w3-light-grey {
        color: #000!important;
        background-color: #f1f1f1!important
    }
    
    .w3-container:after,
    .w3-container:before {
        content: "";
        display: table;
        clear: both
    }
    
    .w3-center {
        text-align: center!important
    }